CONFIG_SDK_TOOLPREFIX="xtensa-esp32s2-elf-"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ROS2NODE_HW_ROS2ZUMO=y
# CONFIG_ENABLE_SDCARD is not set
# CONFIG_ENABLE_CAMERA is not set
# CONFIG_ENABLE_SPI is not set
# CONFIG_ENABLE_I2C_OLED is not set
CONFIG_ENABLE_I2C_VL53L0X=y
# CONFIG_ENABLE_GPS is not set
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_ESP32_REV_MIN_1=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_USE_MEMMAP=y
CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_ESP_CONSOLE_UART_TX_GPIO=43
CONFIG_ESP_CONSOLE_UART_RX_GPIO=44
CONFIG_ESP_INT_WDT_TIMEOUT_MS=300
CONFIG_FREERTOS_UNICORE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
