CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ROS2NODE_HW_S2=y
# CONFIG_ENABLE_WEBUI is not set
# CONFIG_ENABLE_ROS2 is not set
# CONFIG_ENABLE_SDCARD is not set
# CONFIG_ENABLE_CAMERA is not set
# CONFIG_ENABLE_SPI is not set
# CONFIG_ENABLE_I2C_POWER is not set
# CONFIG_ENABLE_I2C_MOTOR is not set
# CONFIG_ENABLE_I2C_OLED is not set
# CONFIG_ENABLE_I2C_BNO055 is not set
# CONFIG_ENABLE_GPS is not set
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_USE_MEMMAP=y
CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
