menu "ROS2Mower Configuration"

config ENABLE_ROS2
	bool "Enable ROS2 Support"
	default y

config ENABLE_SDCARD
	bool "Enable SDCard Support"
	default y


config ENABLE_CAMERA
	bool "Enable CAMERA Support"
	default y

config ENABLE_SPI
	bool "Enable SPI Support"
	default y

config ENABLE_I2C
	bool "Enable I2C Support"
	default y

if ENABLE_I2C
    config ENABLE_I2C_POWER
        bool "Enable I2C Motor"
        default y
    config ENABLE_I2C_MOTOR
        bool "Enable I2C Motor"
        default y
    config ENABLE_I2C_OLED
        bool "Enable I2C OLED"
        default y
    config ENABLE_I2C_BNO055
        bool "Enable I2C BNO055"
        default y
endif

config ENABLE_GPS
	bool "Enable GPS Support"
	default y

endmenu

